#rules {
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-content: center;
  margin: auto;
  width: clamp(36ch, 400px, 600px);
  text-align: center;
  background: aliceblue; }

.wobble-hor-bottom {
  -webkit-animation: wobble-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: wobble-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes wobble-hor-bottom {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0); }
  10% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px); }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px); }
  30% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px); }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px); }
  50% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px); }
  60% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px); }
  70% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px); }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px); }
  90% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0); } }

@keyframes wobble-hor-bottom {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0); }
  10% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px); }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px); }
  30% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px); }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px); }
  50% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px); }
  60% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px); }
  70% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px); }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px); }
  90% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0); } }

:root {
  --LC: hsl(0deg 100% 50%);
  --RC: hsl(60deg 100% 50%);
  --TV-left: 0;
  --TV-top: 0;
  --Score-left: 0;
  --Score-top: 0;
  --TV-size: 100%;
  --Points-left: 0;
  --Points-width: 0;
  --Points-top: 0;
  --Points-width: 0;
  --Swatch-width: 0;
  --Swatch-height: 0; }

.hide {
  opacity: 0;
  pointer-events: none; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 100; }

body {
  display: grid;
  min-width: 500px;
  height: 100vh;
  overflow: hidden;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1000px;
  background: url(./images/tvBurst.png), #00eefa;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  background-size: auto;
  -webkit-box-shadow: inset 0 -111px 50px 7px rgba(0,0,0,0.27843);
          box-shadow: inset 0 -111px 50px 7px rgba(0,0,0,0.27843); }

div#root {
  display: grid;
  grid-template-columns: 2em 1fr 2em;
  grid-template-rows: 1fr; }

img#background {
  width: clamp(500px, 100vh, 100%);
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  grid-row: 1;
  grid-column: 1/-1;
  margin: auto;
  z-index: 3;
  pointer-events: none; }

section.game {
  grid-row: 1;
  grid-column: 1/-1;
  z-index: 1;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-content: center;
  grid-template-columns: 10px 1fr 1fr 10px;
  grid-template-rows: 1fr;
  z-index: 2; }

target {
  width: 0;
  width: var(--Swatch-width);
  height: 0;
  height: var(--Swatch-height);
  -ms-flex-item-align: center;
      align-self: center;
  pointer-events: all; }

.target_left {
  grid-column: 2;
  grid-row: 1;
  background: hsl(0deg 100% 50%);
  background: var(--LC);
  justify-self: flex-end; }
  .target_left * {
    margin: auto; }

.target_right {
  grid-column: 3;
  grid-row: 1;
  background: hsl(60deg 100% 50%);
  background: var(--RC);
  justify-self: flex-start; }
  .target_right * {
    margin: auto; }

#score {
  position: absolute;
  left: calc(0);
  left: calc(var(--Score-left));
  top: calc(0);
  top: calc(var(--Score-top));
  color: wheat;
  z-index: 2; }
  #score:before {
    content: "";
    position: absolute;
    top: -260%;
    left: -122%;
    -webkit-transition: all 3s ease;
    transition: all 3s ease; }

#points {
  grid-column: 1 / -1;
  grid-row: 1;
  display: grid;
  z-index: 0;
  z-index: 0;
  margin-top: 0;
  margin-top: var(--Points-top);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content; }
  #points p {
    text-shadow: 5px 5px rgba(255,255,255,0.5098), 10px 10px rgba(177,177,177,0.54902), 15px 15px 14px hsl(0deg 100% 50%), -5px -5px 14px hsl(60deg 100% 50%);
    text-shadow: 5px 5px rgba(255,255,255,0.5098), 10px 10px rgba(177,177,177,0.54902), 15px 15px 14px var(--LC), -5px -5px 14px var(--RC);
    color: #f6f5f2;
    background-blend-mode: hard-light;
    font-size: calc(100% / 8);
    font-size: calc(var(--TV-size) / 8);
    font-weight: 800; }

