@import "./partials/styles.scss";

:root {
  --LC: hsl(0deg 100% 50%);
  --RC: hsl(60deg 100% 50%);
  --TV-left: 0;
  --TV-top: 0;
  --Score-left: -100vw;
  --Score-top: -100vh;
  --ScoreBG-width: 0;
  --ScoreBG-height: 0;
  --TV-size: 100%;
  --Points-left: 0;
  --Points-width: 0;
  --Points-top: 0;
  --Points-width: 0;
  --Swatch-width: 0;
  --Swatch-height: 0;
}
.hide {
  opacity: 0;
  // background: red;
  pointer-events: none;
}
.clear {
  box-shadow: none !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  text-decoration: none;
  list-style: none;
  a,
  a:visited {
    color: inherit;
  }
}

target {
  -webkit-tap-highlight-color: transparent;
}

body {
  display: grid;
  // height: clamp(380px, 1000px, 100vh);
  min-width: 500px;
  height: 100vh;
  overflow: hidden;
  align-content: center;
  justify-content: center;
  max-width: 1000px;
  background: url("../images/tvBurst.png"), #00eefa;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  background-size: auto;
  box-shadow: inset 0 -111px 50px 7px #00000047;
}

img#logo {
  width: clamp(10vw, 100%, 500px);
  margin: auto;
  z-index: 6;
  cursor: pointer;
  transition: filter 333ms ease-in-out;
  &:hover {
    filter: drop-shadow(2px 4px 6px black);
  }
}

#header {
  position: fixed;
  display: grid;
  left: 0;
  top: -2em;
  width: 100vw;
  height: 2em;
  background: #333333d1;
  z-index: 5;
  overflow: hidden;
  transition: height 333ms ease;

  .howto {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: clamp(1em, 2vw, 2vw);
    background: black url("../images/bgStripes.png");
    border-radius: 50%;
    height: clamp(300px, 100%, 400px);
    width: clamp(300px, 100%, 420px);
    justify-content: center;
    background-size: contain;
    background-position: center;
    p {
      color: #ffffffc4;
      font-weight: 600;
      text-shadow: 2px 2px black, 4px 4px 6px black;
      text-transform: uppercase;
      span {
        font-weight: 800;
        color: white;
      }
    }
  }
}

.expand {
  height: 100vh !important;
  top: 0 !important;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 2em;
  background: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

ul.footer-list {
  display: flex;
  justify-content: center;
  gap: 3em;
  span {
    position: relative;
    font-size: 1em;
    transition: filter 333ms ease-in-out;
    &:hover {
      filter: drop-shadow(0px 1px 6px black);
    }
    // &:after {
    //   position: absolute;
    //   content: "";
    //   left: -50%;
    //   bottom: 0;
    //   width: 200%;
    //   height: 100%;
    //   background: black;
    //   z-index: -1;
    // }
  }
}

div#root {
  display: grid;
  grid-template-columns: minmax(0, 2em) 1fr minmax(0, 2em);
  grid-template-rows: 1fr;
}

// #root {
//   background: url("../images/tvBurst.png");
//   background-position: center;
//   background-repeat: no-repeat;
//   max-width: 1000px;
//   background-size: cover;
// }

img#background {
  width: clamp(500px, 80vh, 100%);
  grid-row: 1;
  grid-column: 1/-1;
  margin: auto;
  z-index: 3;

  pointer-events: none;
}

section.game {
  grid-row: 1;
  grid-column: 1/-1;
  z-index: 1;
  display: grid;
  place-content: center;
  grid-template-columns: 10px 1fr 1fr 10px;
  grid-template-rows: 1fr;
  z-index: 2;
}

#score {
  z-index: 3;
  grid-row: 1;
  grid-column: 1/-1;
  color: var(--RC);
  text-shadow: 3px 3px black, 6px 4px black, 0px 1px 12px black;
  font-size: 2em;
  font-weight: 900;
  left: var(--Score-left);
  top: var(--Score-top);
  position: absolute;
  &:after {
    content: "";
    position: absolute;
    width: var(--ScoreBG-width);
    height: var(--ScoreBG-height);
    left: calc(var(--ScoreBG-width) * -0.38);
    top: calc(var(--ScoreBG-height) * -0.38);
    background: var(--LC);
    border-radius: 30%;
    z-index: -1;
  }
}

// .tv {
//   grid-column: 1 / -1;
//   grid-row: 2;
//   // width: 70%;
//   // justify-self: center;
//   // align-self: center;
//   z-index: 1;
// }
target {
  // width: clamp(150px, 40%, 100%);
  width: var(--Swatch-width);
  height: var(--Swatch-height);
  align-self: center;
  pointer-events: all;
}
.target_left {
  grid-column: 2;
  grid-row: 1;
  background: var(--LC);
  justify-self: flex-end;
  cursor: pointer;
  transition: box-shadow 333ms ease-in-out;
  &:hover {
    box-shadow: inset 0 0 20px 4px #00000091;
  }
  * {
    margin: auto;
  }
}
.target_right {
  grid-column: 3;
  grid-row: 1;
  background: var(--RC);
  justify-self: flex-start;
  * {
    margin: auto;
  }
}

// #score {
//   position: absolute;
//   left: calc(var(--Score-left));
//   top: calc(var(--Score-top));
//   color: wheat;
//   z-index: 2;
//   &:before {
//     content: "";
//     position: absolute;
//     top: -260%;
//     left: -122%;
//     transition: all 3s ease;
//   }
// }

#points {
  // background: #90ee906e;
  // display: none;
  grid-column: 1 / -1;
  grid-row: 1;
  display: grid;
  z-index: 0;
  z-index: 0;
  margin-top: var(--Points-top);
  justify-content: center;
  height: fit-content;
  // margin-top: var(--Points-top);
  // margin: auto;
  // display: grid;
  // place-content: center;
  // font-size: calc(var(--Points-width) / 4);
  // transform: translate(0%, -27%) scale(0.5);

  //   display: grid;
  //   justify-content: center;
  //   height: 100%;
  //   // position: absolute;
  //   // left: var(--Points-left);
  //   // top: var(--Points-top);
  //   place-content: center;
  p {
    text-shadow: 5px 5px #ffffff82, 10px 10px #b1b1b18c,
      15px 15px 14px var(--LC), -5px -5px 14px var(--RC);
    color: #f6f5f2;
    background-blend-mode: hard-light;
    font-size: calc(var(--TV-size) / 8);
    font-weight: 800;
  }
}
// .sm-menu {
//   display: none;
// }

// body {
//   margin: auto;
//   background: #fefdfb;

//   pointer-events: none;
//   // overflow: hidden;
// }

// #root {
//   display: grid;
//   // height: 100vh;
//   max-width: 1100px;
//   margin: auto;
//   // padding: 2em 1em;
//   grid-template-columns: repeat(12, 1fr);
//   // grid-template-rows: 4em 1fr 4em;
//   grid-template-rows: 1fr;
//   gap: 1em;
//   place-content: center;
//   // overflow: hidden;
//   background-image: url("../images/tvBurst.png");
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
// }
// .game {
//   grid-column: 1 / -1;
//   grid-row: 2;
//   display: grid;
//   grid-template-columns: 10px 1fr 1fr 10px;
//   grid-template-rows: 1fr;
//   // padding-top: 2em;
//   border-radius: calc(100vw / 2);
//   box-shadow: inset -13px -1px 16px 8px #56371694;
//   width: clamp(837px, 100%, 1100px);
//   justify-self: center;
//   // background: #faebd7bf;
//   pointer-events: none;
// }

// #remote {
//   grid-column: 1 / -1;
//   grid-row: 1;
//   z-index: 100;
//   justify-self: center;
//   transform: translate(3vw, 61vh) rotate(17deg);
//   transition: transform 1s ease;
//   pointer-events: all;
//   &:hover {
//     transform: translate(4vw, 34%) rotate(0deg);
//   }
// }

// .header {
//   grid-column: 1 / -1;
//   align-content: center;
//   justify-content: center;
//   background: url("../images/technicolor.png");
//   background-size: contain;
//   background-repeat: no-repeat;
//   background-position: center;
// }
// .tools {
//   grid-column: 1 / -1;
//   display: flex;
//   justify-content: space-evenly;
//   align-items: center;
// }

// section {
//   height: 100%;
//   display: grid;
//   overflow: hidden;
// }

// img.banner_game_background {
//   object-fit: cover;
//   position: relative;
//   width: 100%;
//   padding: 20% 0;
//   background: conic-gradient(
//     from 270deg,
//     #dccfc6 65%,
//     #efe6df 80%,
//     #d1bbae 40%
//   );
//   &:before {
//     content: "";
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     width: 100px;
//     height: 500px;
//     background: red;
//   }
// }

// @media screen and (max-width: 140px) {
//   #root {
//     display: grid;
//     grid-template-columns: repeat(12, 1fr);
//     grid-template-rows: 1fr 10fr 1fr;
//     // height: 100vh;
//   }
//   .game {
//     grid-template-columns: 1fr 1fr;
//     grid-template-rows: 1fr;
//     background: transparent;
//   }
//   .tv {
//     // width: clamp(520px, 120vw, 120vw);
//   }
//   .header {
//     grid-column: 2 / span 10;
//     img.logo {
//       margin: auto;
//       width: 100%;
//     }
//   }
//   target {
//     // display: grid;
//     // height: 390px;
//     // width: 200px;
//     // align-self: center;
//     // width: 100%;
//     // height: 100%;
//     // align-self: auto;
//     // position: static;
//     // display: grid;
//   }
//   .target_left {
//     grid-column: 1;
//     grid-row: 1;
//   }
//   .target_right {
//     grid-column: 2;
//     grid-row: 1;
//   }
//   .tools {
//     grid-column: 2 / span 10;
//     gap: 6px;
//     i {
//       font-size: 1em;
//       color: white;
//       // padding: 1em;
//       text-align: center;
//     }
//   }
// }
