:root {
  --LC: hsl(0deg 100% 50%);
  --RC: hsl(60deg 100% 50%);
  --TV-size: 750px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.tv {
  grid-column: 1 / -1;
  grid-row: 1;
  width: 70%;
  margin-top: 1em;
  justify-self: center;
  align-self: center;
  z-index: 1;
}
target {
  width: clamp(150px, 40%, 100%);
  height: var(--TV-size);
  align-self: center;
}
.target_left {
  grid-column: 2;
  grid-row: 1;
  background: var(--LC);
  justify-self: flex-end;
  * {
    margin: auto;
  }
}
.target_right {
  grid-column: 3;
  grid-row: 1;
  background: var(--RC);
  justify-self: flex-start;
  * {
    margin: auto;
  }
}

.sm-menu {
  display: none;
}

body {
  margin: auto;
  background: #fefdfb;
  background-image: url("../images/wallpaper_1.png");
  background-position: center;
}

#root {
  display: grid;
  height: 100vh;
  max-width: 1100px;
  margin: auto;
  padding: 2em 1em;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 4em 1fr 4em;
  gap: 1em;
  place-content: center;
  overflow: hidden;
}
.game {
  grid-column: 1 / -1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 10px 1fr 1fr 10px;
  grid-template-rows: 1fr;
  border-radius: calc(100vw / 2);
  box-shadow: inset -13px -1px 16px 8px #56371694;
  width: clamp(837px, 100%, 1100px);
  justify-self: center;
  background: #faebd7bf;
}

#remote {
  grid-column: 1 / -1;
  grid-row: 1;
  z-index: 2;
  justify-self: center;
  transform: translate(3vw, 61vh) rotate(17deg);
  transition: transform 1s ease;
  &:hover {
    transform: translate(4vw, 34%) rotate(0deg);
  }
}

.header {
  grid-column: 1 / -1;
  align-content: center;
  justify-content: center;
  background: url("../images/technicolor.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.tools {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

section {
  height: 100%;
  display: grid;
  overflow: hidden;
}

img.banner_game_background {
  object-fit: cover;
  position: relative;
  width: 100%;
  padding: 20% 0;
  background: conic-gradient(
    from 270deg,
    #dccfc6 65%,
    #efe6df 80%,
    #d1bbae 40%
  );
  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 500px;
    background: red;
  }
}

@media screen and (max-width: 540px) {
  #root {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 10fr 1fr;
    height: 100vh;
  }
  .game {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background: transparent;
  }
  .tv {
    width: clamp(520px, 120vw, 120vw);
  }
  .header {
    grid-column: 2 / span 10;
    img.logo {
      margin: auto;
      width: 100%;
    }
  }
  target {
    // display: grid;
    // height: 390px;
    // width: 200px;
    // align-self: center;
    // width: 100%;
    // height: 100%;
    // align-self: auto;
    // position: static;
    // display: grid;
  }
  .target_left {
    grid-column: 1;
    grid-row: 1;
  }
  .target_right {
    grid-column: 2;
    grid-row: 1;
  }
  .tools {
    grid-column: 2 / span 10;
    gap: 6px;
    i {
      font-size: 1em;
      color: white;
      padding: 1em;
      text-align: center;
    }
  }
}
